.bash_history
.bash_logout
.box_setup/
.cache/

.config/
!.config/dconf/*
!.config/sublime-text-3/Installed Packages/*
!.config/sublime-text-3/Packages/*

.gnome/
.gnupg/

.local/
!.local/share/gnome-shell/extensions/*

.mozilla/
.node-gyp/
.npm/
.nv/
.nvm/
.pam_environment
.pki/
.ssh/
.sudo_as_admin_successful
.viminfo
.vim/.netrwhist
Downloads/
sandbox/

